html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.7;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-size: 15.5px;
    background-color:#ffffff;
    margin: auto auto auto auto;
    display: grid;
    grid-template-columns: repeat(24,1fr);
    column-gap: 33px;
    grid-auto-flow: dense;
    color: #1f1f1f;
}

p {
    color: #1f1f1f; 
    line-height: 1.7;
}

span {
    font-weight: 600;
    color: #1f1f1f;
}

h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    letter-spacing: -0.15px;
    color: #1f1f1f;

}

h2 {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.66;
    color: #1f1f1f;
}

h3 {
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #1f1f1f;
}

h4 {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.66;
    color: #1f1f1f;
}

h5 {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.66;
    text-align: center;
}

video {
    width: 100%;
}

/* || HEADER */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1/ span 24;
    justify-content: space-between;
    margin: auto 0 135px 0;
    padding-top: 55px;
}

header img {
    max-width: 130px;
}

nav a {
    margin: 0 0 0 56px;
    text-decoration: none;
    color: #B7B7B7;
    cursor: pointer;
}

a:hover {
    color: #1f1f1f;
    transition: color 0.3s;
    cursor: pointer;
}

a.selected {
    color: #1f1f1f;
}

a.preview {
    text-decoration: none;
    color: #B7B7B7;
}

a.preview:hover, a.preview-right:hover {
    color: #1f1f1f;
    transition: 0.3s;
}

nav img {
    width: 17px;
    height: 27px;
}

#logo {
    max-width: 130px;
}
.tagline {
    grid-column: 2/span 20;
    padding-left: 12%;
    padding-top: 30px;
    padding-bottom: 140px;
    text-align: center;
}

a {
    cursor: pointer;
}
/* || PREVIEW */

.preview, .preview a {
    grid-column: 3 / span 12;
    position: relative;
    text-decoration: none;
    color: #1f1f1f;
    overflow: hidden;
    height: 668px;
    border-radius: 5px;
}

.preview img {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
    object-fit: cover;
    height: 668px;
    opacity: 1.0;
    transition: 0.3s;
}

.preview img:hover, .preview-2 img:hover, .preview-3 img:hover, .preview-4 img:hover {
    opacity: 0.9;
    transition: 0.3s ease;
    transform: scale(1.1);
}

.description {
    position: absolute;
    top: 20px;
    left: 30px;
    padding-right: 30px;
}

button {
    background-color: white;
    border: none;
    padding: 0 5px 0 5px;
    border-radius: 50px;
}

.preview-2 {
    grid-column: 15 / span 8;
    position: relative;
    text-decoration: none;
    color: #1f1f1f;
    overflow: hidden;
    height: 668px;
    border-radius: 5px;
}

.preview-inside2, .preview-inside2 a {
    grid-column: 15 / span 8;
    position: relative;
    text-decoration: none;
    color: #1f1f1f;
    overflow: hidden;
    height: 317.5px;
    border-radius: 5px;
    margin-bottom: 33px;
}

.preview-inside2 img {
        opacity: 1.0;
        transition: 0.3s;
        position: relative;
        height: 317.5px;
        object-fit: cover;
        width: 100%;
        border-radius: 5px;
        
}

/* .preview-2 img {
    opacity: 1.0;
    transition: 0.3s;
    position: relative;
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
} */

.preview-3, .preview-3 a {
    grid-column: 3 / span 10;
    position: relative;
    margin-top: 33px;
    text-decoration: none;
    color: #1f1f1f;
    overflow: hidden;
    height: 394px;
    border-radius: 5px;
}

.preview-3 img, .preview-4 img {
    width: 100%;
    margin: 0 0 20px 0;
    object-fit: cover;
    width: 100%;
    height: 394px;
    border-radius: 5px;
}


.preview-4, .preview-4 a {
    grid-column: 13 / span 10;
    position: relative;
    margin-top: 33px;
    text-decoration: none;
    color: #1f1f1f;
    overflow: hidden;
    height: 394px;
    border-radius: 5px;
}

/* TO SHOW 3 PROJECTS */
.preview-5, .preview-5 a {
    grid-column: 3 / span 10;
    position: relative;
    text-decoration: none;
    color: #1f1f1f;
    overflow: hidden;
    min-height: 567px;
    border-radius: 5px;
}

.preview-5 img {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
    object-fit: cover;
    height: 100%;
    opacity: 1.0;
    transition: 0.3s;
}

.preview-5 img:hover, .preview-6 img:hover, .preview-7 img:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
}

.preview-6, .preview-6 a {
    grid-column: 13 / span 10;
    position: relative;
    text-decoration: none;
    color: #1f1f1f;
    overflow: hidden;
    min-height: 567px;
    border-radius: 5px;
}

.preview-6 img {
    opacity: 1.0;
    transition: 0.3s;
    position: relative;
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    
}

.preview-7, .preview-7 a {
    grid-column: 3 / span 20;
    position: relative;
    text-decoration: none;
    color: #1f1f1f;
    overflow: hidden;
    max-height: 700px;
    min-height: 400px;
    border-radius: 5px;
    margin-top: 33px;
}

.preview-7 img {
    opacity: 1.0;
    transition: 0.3s;
    position: relative;
    max-height: 700px;
    min-height: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    
}
/* || ABOUT */

.about-photo {
    grid-column: 2 / span 5;
}

.about-text {
    grid-column: 7/ span 4;
}

.body {
    grid-column: 2 /span 8;
    margin: 0 0 50px 0;
}

/* || FOOTER */
.Footer_outer{
    grid-column: 1 / span 24;
    margin-top: 5%;
    padding: 8% 14% 14% 14%;
    background-color: #F8F8F8;
    }
    
.Footer_inner_left{
    width: 49%;
    Float: left;
    display:inline;
    grid-column: 1 / span 10;
    }

.Footer_inner_left img {
    max-width: 130px
}

.Footer_inner_right{
    width: 49%;
    Float: right;
    grid-column: 12 / span 4;
    text-align: right; 
    }

.Footer_inner_right a{
    text-decoration: none;
    color: #B7b7b7; 
}

.Footer_inner_right a:hover {
    color: #1f1f1f;
    transition: color 0.3s;
}

.Footer_inner_right a.selected {
    color: #1f1f1f;
}

.Footer_inner_right a.preview {
    text-decoration: none;
    color: #1f1f1f;
}

/* || PROJECT PAGE */

.bigdescription {
    grid-column: 4/span 18;
    text-align: center;
    margin-bottom: 60px;
}

.bigframe {
    grid-column: 3 / span 20;
    padding-bottom: 40px;
}

/* .bigframe img {
    border-radius: 5px;
    max-width: 100%;
    object-fit: cover;
} */

.heading {
    grid-column: 8 / span 10;
    text-align: fright;
    align-items: right;
    text-align: left;
    margin-bottom: 30px;
    text-decoration: underline 5px #E1EBE7;
    text-underline-offset: 5px;
}

.text {
    grid-column: 8 / span 10;
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
}

.text img, .text video  {
    position: relative;
    object-fit: cover;
    
}

.text h2 {
    padding-bottom: 10px;
}

.columnone {
    grid-column: 8/span 4;
    padding-bottom: 20px;
}

.columntwo {
    grid-column: 13/span 4;
    padding-bottom: 20px;
}

.fullcolumn {
    grid-column: 3/span 20;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    float: left;
    overflow: hidden;
}

.oneof3 {
    grid-column: 3/span 7;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}

.oneof3 img, .oneof3 video, .twoof3 img, .twoof3 video, .threeof3 img, .threeof3 video {
    width: 100%;
    position: relative;
    object-fit: cover;
    min-height: 480px;
}

.twoof3 {
    grid-column: 10/span 6;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}

.threeof3, .threeof3trash {
    grid-column: 16/span 7;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}

.oneof2 {
    grid-column: 3/span 10;
    position: relative;
    overflow: hidden;
}

.oneof2 img, .oneof2 video, .twoof2 img,.twoof2 video  {
    width: 100%;
    position: relative;
    object-fit: cover;
}

.twoof2 {
    grid-column: 13/span 10;
    position: relative;
    overflow: hidden;
}

.tofill {
    grid-column: 18/span 6;
}
.fullcolumn img {
    margin-bottom: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fullcolumn video {
    margin-bottom: 50px;
}

iframe {
    min-height: 900px;
}
.about {
    grid-column: 11/span 9;
}

.aboutphoto {
    grid-column: 6/span 4;
}


/* Back to top */
.button1 {
    grid-column: 8 / span 10;
    background-color:#F7F7F7;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}

.button2 {
    grid-column: 3 / span 10;
    background-color:#F7F7F7;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.button1 a {
    vertical-align: middle;
    text-align: center;
    color: #1f1f1f;
    padding: 19px 170px;
    text-decoration: none;
}

.button1:hover, .button2:hover{
    background-color: #EBEBEB;
    transition: 0.3s;
    color:#1f1f1f;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

/* RESPONSIVE */

@media (max-width: 1300px) {
    .preview-5{
        grid-column: 2/span 11;
    }

    .preview-6{
        grid-column: 13/span 11;
    }

    .preview-7{
        grid-column: 2/span 22;
    }

    .oneof3 img, .oneof3 video, .twoof3 img, .twoof3 video, .threeof3 img, .threeof3 video {
        min-height: 360px;
    }
    .button1 a {
        padding: 19px 130px;
    }
}

@media screen and (max-width: 1100px) {
    .preview-5{
        grid-column: 3/span 20;
        height: 630px;
        margin-bottom: 33px;
    }

    .preview-6{
        grid-column: 3/span 20;
        height: 680px;
    }

    .preview-7{
        grid-column: 3/span 20;
    }
.about {
    padding-top: 30px;
    grid-column: 6/span 14;
}
.aboutphoto {
grid-column: 6/span 6; }
.heading, .text, .button1 {
    grid-column: 6/span 14; }
.columnone{ grid-column: 6/span 7;}
.columntwo{ grid-column: 13/span 7;}

.oneof3 img, .oneof3 video,.twoof3 img, .twoof3 video, .threeof3 img, .threeof3 video {
    height: 380px;}

.oneof2 img, .oneof2 video, .twoof2 img, .twoof2 video {
    min-height: 500px;}


.button1 a {
    padding: 18px 140px;}
}

@media screen and (max-width: 900px) {
nav a {
        margin: 0 0 0 56px; }

.description { right: 10%; padding-bottom: 100px }

.heading, .text, .button1 {
    grid-column: 5/span 16; }

.columnone, .columntwo{ grid-column: 5/span 16;}
.oneof3, .twoof3, .threeof3, .oneof2, .twoof2{
    grid-column: 3/span 20;
    align-content: center;}

.oneof3 img, .oneof3 video, .threeof3 img, .threeof3 video{
    height: 1000px; }

.twoof3 img, .twoof3 video {
    height: 1000px;
    width: 100%; }

.oneof2 img, .oneof2 video, .twoof2 img, .twoof2 video {
    min-height: 600px;}
.button1 a {
    padding: 17px 130px;}
h2 {
        font-size: 20px; }
nav img {
    width: 23px;
    height: 32px;
}
#logo {
    min-width: 160px;
}
}
